@import "libs/reset.scss";



//Variable

$Green:#99E2D0;
$Greenfont:#008766;
$Blue:#89C8FA;
$Blue2:#003A68;
$Primary:#9356DC;
$Grey2:#EAEAEA;
$Grey:#F6F6F6;
$Grey3:#353535;
// Mixin


// Header

@media screen and (min-width: 375px) {
    .widhtlogo{
        width: 162px;
        height: 44px;
    }

    .height{
        height: 63px;
    }

    .margepos{
        margin-right: 10px;
    }

    .flexCentre{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .backheader{
        background-color: $Grey2;
        height: 50px;
        width: 100%;
    }

    // Section1
        .backarticle {
        width: 100%;
        height: 370px;
        background-color: $Grey;
        }

       

    //footer

    .backfooter{
        background-color: $Grey3;
        width: 100%;
        height: 186px;
        color: white;
    }

    .widhtlogo2{
        width: 139px;
        height: 27px;
        color: white;
        
    }

    //article

    .backwhite{
        background-color: white;
        width: 100%;
        height: 440px;
    }

    
    
    // Section2
    .backsection2 {
        width: 100%;
        height: 100%;
        background-color: #f2f2f2;
        }

    .imgpalette{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 15px 15px 0px 0px;
    }

    .cardsection2{
        width: 95%;
        height: 100%;
        border-radius: 15px;
        background-color: white; 
    }

    .paddingcard{
        padding-bottom: 90px;
    }

    .marginleft {
        margin-left: 15px;
    }

    .fontsgras{
        font-weight: bold;
    }
   

}





