@charset "UTF-8";
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

@media screen and (min-width: 375px) {
  body {
    font-family: "roboto";
  }
  .widhtlogo {
    width: 162px;
    height: 44px;
  }
  .height {
    height: 63px;
  }
  .margepos {
    margin-right: 10px;
  }
  .flexCentre {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flexCentre2 {
    display: flex;
    align-items: center;
  }
  .backheader {
    background-color: #EAEAEA;
    height: 50px;
    width: 100%;
  }
  .backarticle {
    width: 100%;
    height: 300px;
    background-color: #F6F6F6;
  }
  .widhtsec1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 315px;
    margin-left: 200px;
  }
  .flexwrap {
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
  }
  .marginleftsec {
    margin-left: 50px;
  }
  .backbouton {
    background-image: linear-gradient(#e98ef6, #9356DC);
    width: 218px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
  }
  .colorboutons {
    color: white;
  }
  .marge {
    margin-top: 152px;
  }
  .margetopbot {
    margin-top: 35px;
    margin-bottom: 10px;
    margin-left: 30px;
    width: 275px;
  }
  .margetop {
    margin-top: 20px;
  }
  .backfooter {
    background-color: #353535;
    width: 100%;
    height: 186px;
    color: white;
  }
  .widhtlogo2 {
    width: 139px;
    height: 27px;
    color: white;
  }
  .blocfooter {
    padding-top: 20px;
  }
  .margefooter {
    margin-right: 10px;
  }
  .margefooter2 {
    margin-right: 15px;
  }
  .backwhite {
    background-color: white;
    width: 100%;
    height: 440px;
  }
  .backfonction {
    background-color: #f2f2f2;
    width: 90%;
    height: 72.38px;
    border-radius: 20px;
  }
  .margeblock {
    margin-left: 25px;
  }
  .margebot {
    margin-bottom: 30px;
  }
  .displayarticle {
    display: flex;
    padding-top: 25px;
  }
  .paddingnum {
    padding-left: 20px;
  }
  .backarticle1 {
    width: 25px;
    border-radius: 30px;
    margin-left: -5px;
    background-color: #9356DC;
  }
  .numéro1 {
    margin-left: 8px;
    color: white;
  }
  .colorV {
    color: #9356DC;
  }
  .backsection2 {
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
  }
  .margebot2 {
    margin-left: 15px;
  }
  .imgpalette {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
  }
  .imgpalette1 {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
  }
  .imgpalette2 {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
  }
  .imgpalette3 {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
  }
  .cardsection1 {
    width: 90%;
    height: 90%;
    border-radius: 15px;
    background-color: white;
  }
  .cardsection2 {
    width: 90%;
    height: 90%;
    border-radius: 15px;
    background-color: white;
  }
  .cardsection3 {
    width: 90%;
    height: 90%;
    border-radius: 15px;
    background-color: white;
  }
  .cardsection4 {
    width: 90%;
    height: 90%;
    border-radius: 15px;
    background-color: white;
  }
  .paddingcard {
    padding-bottom: 90px;
  }
  .marginleft {
    margin-left: 15px;
  }
  .fontsgras {
    font-weight: bold;
  }
  .margebot2 {
    margin-bottom: 20px;
  }
  .margeleft2 {
    margin-left: 15px;
    padding-top: 50px;
  }
  .displaycard {
    display: flex;
    justify-content: space-between;
  }
  .displaycoeur {
    display: flex;
    justify-content: flex-end;
  }
  .margecoeur {
    margin: -35px 30px 50px 0px;
    padding-bottom: 30px;
  }
  .margetopcard {
    margin-top: 10px;
  }
}
@media screen and (min-width: 1440px) {
  .displayRow {
    display: flex;
    flex-direction: row;
  }
  .taillearticle {
    width: 70%;
  }
  .backfonction {
    background-color: #f2f2f2;
    width: 90%;
    height: 72.38px;
    border-radius: 20px;
    margin-right: 20px;
  }
  .backwhite {
    background-color: white;
    width: 100%;
    height: 100%;
  }
  .resto {
    margin-left: 40px;
  }
  .displayRow2 {
    display: flex;
    justify-content: space-around;
    padding-bottom: 0px;
    margin-top: 30px;
  }
  .displayRow3 {
    display: flex;
    justify-content: space-around;
    padding-bottom: 0px;
    margin-top: -150px;
  }
  .imgpalette {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
  }
  .imgpalette1 {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
  }
  .imgpalette2 {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
  }
  .imgpalette3 {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
  }
  .cardsection1 {
    width: 90%;
    height: 55%;
    border-radius: 15px;
    background-color: white;
  }
  .cardsection2 {
    width: 90%;
    height: 55%;
    border-radius: 15px;
    background-color: white;
  }
  .cardsection3 {
    width: 90%;
    height: 55%;
    border-radius: 15px;
    background-color: white;
  }
  .cardsection4 {
    width: 90%;
    height: 55%;
    border-radius: 15px;
    background-color: white;
  }
  .margeneg {
    margin-top: -270px;
  }
  .paddingcard {
    padding-bottom: 0px;
  }
  .margecoeur {
    margin: -35px 30px 50px 0px;
    padding-bottom: 0px;
  }
  .backsection2 {
    width: auto;
    height: auto;
    background-color: #f2f2f2;
    padding-bottom: 0px;
  }
  .blocfooter2 {
    display: flex;
    flex-direction: row;
  }
  .blocfooter3 {
    display: flex;
    flex-direction: row-reverse;
  }
  .margefooter3 {
    padding-top: 110px;
    margin-right: 100px;
  }
  .paddingfooter {
    margin-right: 90px;
  }
  .paddinglogo {
    margin-top: 15px;
  }
  .marginfooter {
    margin-right: 45px;
  }
  .marginfooter2 {
    margin-right: 15px;
  }
  .marginfooter3 {
    margin-right: 10px;
  }
  .margebot2 {
    margin-bottom: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
